table {
  table-layout: fixed;
  width: 80%;
  border-collapse: collapse;
  /* border: 3px solid purple; */
  margin: 0 auto;
  border-radius: 20px;
}

th,
td {
  padding: 10px;
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #c7d3e4;
}

tbody tr:nth-child(even) {
  background-color: #f2fdff;
}

table {
  background-color: #33cfff;
}

thead {
  height: 60px;
}
